<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
 
 <!--Servlet Declaration  -->
 <servlet>
 <servlet-name>FirstSErvlet</servlet-name>
 <!--pass here name servler class with package  -->
 <servlet-class>com.servlet.FirstSErvlet</servlet-class>
 </servlet>
 
 
 
  <!--  <display-name>Servletprogram</display-name> -->
<!--  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list> -->
  
  
  
   <!-- Servlet Mapping -->
   
   <servlet-mapping> <!-- Servlet Mapping -->
 <servlet-name>FirstSErvlet</servlet-name>
 <url-pattern>/web</url-pattern>
 </servlet-mapping>

 
 
 
</web-app>