<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-3.0.xsd
    http://www.springframework.org/schema/aop 
    http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">


 <!-- Using  P schema  p:properties name like below mention-->
 
 <bean class="com.corespring.SpringCore2.Employee" name="employee" p:id="12512" p:name="Muskan" p:address="Bihar"/>

 
 

<!-- <bean class="com.corespring.SpringCore2.Employee" name="employee">
<property name="id" value="112412"/>
<property name="name" value="Vikash Solanki"/>
<property name="address" value="Delhi"/>
</bean> -->




</beans>